body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.textup {
    text-align: center;
    color: rgb(11, 118, 11);
    font-weight: 700;
}

h1, h3 {
    color: green;
}

.form-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 500px;
}